build
.DS_Store
CMakeFiles
Makefile
cmake_install.cmake
CMakeCache.txt
TkyoSpaghetti
external_resources/**/*
external_resources/SDL-mirror.diff
external_resources/SDL-mirror
install_manifest.txt
.vs
Debug
*.vcxproj.*
*.vcxproj
*.sln
